<ion-content>

    <ion-grid class="main-grid">
        <ion-row class="app-name">
          <ion-col>
              <img class="modal-img" src="assets/img/logo.png">
          </ion-col>
        </ion-row>
        <ion-row class="app-moto">
          <ion-col>
            <ion-text>
              <span>¡Hola de vuelta!</span>
            </ion-text>
          </ion-col>
        </ion-row>

    <!-- Mensaje descripción-->
    <ion-row class="description">
        <ion-col>
            <span>Accede a tus lecturas, <br>acumula puntos y <br>hazte el mejor.</span>
        </ion-col>
      </ion-row>

    <div [formGroup]="loginForm" class="login-form">
      <!-- Formulario -->
      <ion-row class="inputs-login">
        <ion-col>
          <ion-item>
            <ion-label class="gris" position="floating">Email</ion-label>
            <ion-input formControlName="email" type="email" inputmode="email"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label class="gris" position="floating">Contraseña</ion-label>
            <ion-input formControlName="password" type="password"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <!-- Olvidé la contraseña -->
      <ion-row justify-content-end class="forgot">
        <ion-col>
          <ion-text class="ion-text-end">
            <span>Olvidé mi contraseña</span>
          </ion-text>
        </ion-col>
      </ion-row>

      <!-- Empezar-->
      <ion-row align-items-center class="ahead">
        <ion-col>
          <ion-button class="empezar" (click)="ahead()" [disabled]="!loginForm.valid">Empezar</ion-button>
        </ion-col>
      </ion-row>
    </div>
    
    <!-- Registrarse -->
    <ion-row class="footer">
      <ion-col>
        <ion-text>
          <span>¿Aún no tienes cuenta?</span>
          <ion-text (click)="registry()" class="registry">
            <span>Registrate</span>
          </ion-text>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>