$font-stack: 'Poppins', sans-serif;

ion-content{
    --padding-top: 40px;
    --padding-start: 30px;
    --padding-end: 30px;
    --padding-bottom: 15px;
    --color: #30363D;
}

.login-form{
    font-family: 'Poppins', sans-serif;
    margin-top: 40px;
}

.app-name{
    font-size: 2rem;
    font-family: 'modelica';
}

.app-moto{
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    line-height: 1.2;
    font-weight: bolder;
    margin-top: 20px;
    color: #30363D;
}

.modal-img{
    width: 50px;
}

.forgot{
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    text-align: right;
    color: #747d88;
}


.ahead{
    text-align: center;
    margin-top: 20px;

    .empezar{
        font-family: 'Poppins', sans-serif;
        text-transform: capitalize;
        font-weight: bold;
        --background: #FFCB19;
        --border-radius: 12px;
        --padding-start: 35px;
        --padding-end: 35px;
        height:40px;
        --box-shadow: 0 10px 10px rgba(0,0,0, 0.05);
    }
}

.gris{
    color: #747d88;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

.login-form{
    font-family: 'Poppins', sans-serif;
}

.description{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

.empezar{
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    font-weight: bold;
    margin: 10px;
}

.footer{
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 10px;
    right: 0;
    color: #747d88;
    .registry{
        font-weight: bold;
        margin-left: 5px;
        color: rgb(255, 98, 98);
    }
}

