<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="readings">
      <ion-icon name="document"></ion-icon>
      <ion-label class="descripcion">Lecturas</ion-label>
    </ion-tab-button>


    <ion-tab-button tab="notifications">
      <ion-icon name="bookmarks"></ion-icon>
      <ion-label>Cursos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="calendar">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Calendario</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>