$font-stack: 'Poppins', sans-serif;

ion-content{
    --ion-background-color: var(--ion-color-primary);
    --color: white;
    --padding-top: 40px;
    --padding-start: 30px;
    --padding-end: 30px;
    --padding-bottom: 15px;
}

ion-item{
    --color:#fff;
}

.registry-form{
    font-family: 'Poppins', sans-serif;
    margin-top: 20px;
}

.login-form{
    font-family: 'Poppins', sans-serif;
}

.description{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

.align-right{
    text-align: right !important;
}

.app-name{
    font-size: 2rem;
    font-family: 'modelica';
}

.app-moto{
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    line-height: 1.2;
    font-weight: bold;
    margin-top: 5px;
}


.inputs-login{
    margin-top: 10px;
}


.modal-img{
    height: 25px;
}

.inputs{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}


.ahead{
    text-align: center;
    margin-top: 20px;

    .empezar{
        font-family: 'Poppins', sans-serif;
        text-transform: capitalize;
        font-weight: bold;
        --background: #FFCB19;
        --border-radius: 12px;
        --padding-start: 35px;
        --padding-end: 35px;
        height:40px;
        --box-shadow: 0 10px 10px rgba(0,0,0, 0.05);
    }
}

.footer{
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 10px;
    right: 0;
    color:white;
    .login{
        font-weight: bold;
        margin-left: 5px;
        color: #88E15D;
    }
}
