$font-stack: 'Poppins', sans-serif;

ion-content{
    --ion-background-color: var(--ion-color-primary);
    --color: white;
    --padding-top: 40px;
    --padding-start: 30px;
    --padding-end: 30px;
    --padding-bottom: 15px;
}

ion-item{
    --color:#fff;
}

.registry-form{
    font-family: 'Poppins', sans-serif;
    margin-top: 40px;
}

.login-form{
    font-family: 'Poppins', sans-serif;
}

.description{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

.inputs-login{
    ion-item{
        font-size: 0.9rem;
        height: 35px !important;
        --min-height: 35px !important;
    }
}

.align-right{
    text-align: right !important;
}

.app-name{
    font-size: 2rem;
    font-family: 'modelica';
}

.app-moto{
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    line-height: 1.2;
    font-weight: bold;
    margin-top: 30px;
}

.ahead{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.footer{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    .login{
        font-weight: bold;
        margin-left: 5px;
    }
}

.entrar{
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    font-weight: bold;
    margin: 10px;
}

