<ion-content>

  <ion-grid class="main-grid">
    <!-- Nombre de la aplicación-->
    <ion-row class="app-name">
      <ion-col>
        <ion-text>
          <span>playtura</span>
        </ion-text>
      </ion-col>
    </ion-row>
    <!-- Lema -->
    <ion-row class="app-moto">
      <ion-col>
        <ion-text>
          <span>Una nueva</span><br>
          <span>manera de leer</span>
        </ion-text>
      </ion-col>
    </ion-row>
    <!-- Mensaje descripción-->
    <ion-row class="description">
      <ion-col>
        <ion-text>
          <span>Accede a tus lecturas de la universidad, acumula puntos y hazte el mejor.</span>
        </ion-text>
      </ion-col>
    </ion-row>
    <div [formGroup]="registryForm" class="registry-form">
      <!-- Formulario -->
      <ion-row class="inputs-login">
        <ion-col>
          <ion-item>
            <ion-label position="fixed">Nombre</ion-label>
            <ion-input formControlName="name" class="align-right"></ion-input>
          </ion-item>
          <app-form-error-handler [parentForm]="registryForm" fieldName="name" fieldLabel="Nombre"></app-form-error-handler>
          <ion-item>
            <ion-label position="fixed">Email</ion-label>
            <ion-input formControlName="email" type="email" inputmode="email" class="align-right"></ion-input>
          </ion-item>
          <app-form-error-handler [parentForm]="registryForm" fieldName="email" fieldLabel="Email"></app-form-error-handler>
          <ion-item>
            <ion-label position="fixed">Contraseña</ion-label>
            <ion-input formControlName="password" type="password" class="align-right"></ion-input>
          </ion-item>
          <app-form-error-handler [parentForm]="registryForm" fieldName="password" fieldLabel="Contraseña"></app-form-error-handler>
          <ion-item>
            <ion-label>Universidad</ion-label>
            <ion-select formControlName="college">
              <ion-select-option *ngFor="let universidad of universidades | keyvalue" [value]="universidad.key">
                {{ universidad.value | titlecase }}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <!-- Empezar -->
      <ion-row align-items-center class="ahead">
        <ion-col>
          <ion-button strong size="default" color="secondary" (click)="register()" [disabled]="!registryForm?.valid">Empezar</ion-button>
        </ion-col>
      </ion-row>
    </div>
    <!-- Iniciar Sesión -->
    <ion-row class="footer">
      <ion-col>
        <ion-text>
          <span>¿Ya tienes cuenta?</span>
          <ion-text color="success" (click)="back()" class="login">
            <span>Iniciar sesión</span>
          </ion-text>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>