<ion-header>
  <ion-toolbar class="toolbar">
    <ion-searchbar placeholder="Buscar" style="padding: 12px;" [(ngModel)]="searchKey" (ionChange)="searchKeyChange($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content class="content">
  <ion-list lines="none" style="padding: 0px;">
    <ion-item *ngFor="let reading of readings | async" [class.urgent-reading]="readingStatus(reading) == 'Urgente'"
      [class.important-reading]="readingStatus(reading) == 'Importante'" [class.not-priority]="readingStatus(reading) == 'No prioritaria'">
      <ion-grid class="card-grid">
        <ion-row>
          <ion-col class="status-reading">
            {{ readingStatus(reading) }}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div class="card-reading" (click)="openPDF(reading)">
              <ion-grid class="card-reading-grid">
                <ion-row class="reading-name">
                  {{ reading.name }}
                </ion-row>
                <ion-row class="reading-course">
                  {{ reading.course }}
                </ion-row>
                <ion-row class="reading-status">
                  <ion-col class="reading-status-text">
                    {{ getReadingStatusPage(reading) }}
                  </ion-col>
                  <ion-col class="reading-is-locked ion-text-right" *ngIf="readingStatus(reading) == 'No prioritaria'">
                    <ion-icon name="lock" class="reading-padlock"></ion-icon>
                  </ion-col>
                </ion-row>
                <ion-row class="reading-points" [class.urgent-reading-points]="readingStatus(reading) == 'Urgente'"
                  [class.rmmargin]="readingStatus(reading) == 'No prioritaria'">
                  <span>{{ timeTo(reading) }} &#183; {{ getReadingStatusPoints(reading) }}pts</span>
                </ion-row>
                <ion-row class="reading-progress">
                  <ion-progress-bar [value]="getReadingProgress(reading)" [class.urgent-reading-progress]="readingStatus(reading) == 'Urgente'"></ion-progress-bar>
                </ion-row>
              </ion-grid>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>