$font-stack: 'Poppins', sans-serif;

ion-content{
    --font-family: 'Poppins', sans-serif;
}

.toolbar{
  --background: white;
}

.content{
  --background: #F5F5F5;
}

.urgent-reading{
  --background: #EA4735;
  .status-reading{
    color: white;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 5px;
  }
}

.important-reading{
  --background: rgb(255, 173, 49);
  .status-reading{
    color: white;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 5px;
  }
}

.not-priority{
  --background: #F5F5F5;
  .status-reading{
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 5px;
  }
}

.card-grid{
  padding: 15px 0px !important;
  font-family: 'Poppins', sans-serif;
  .card-reading{
    background-color: white;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0,0,0, 0.15);
    .card-reading-grid{
      font-size: 14px;
      padding: 18px;
      .reading-name{
        font-size: 16px;
        font-weight: bold;
        line-height: 1.3;
      }
    }
  }
}

.reading-course, .reading-status{
  font-size: 12px;
  color: #777778;
}

.reading-points{
  margin-top: 14px;
  margin-bottom: 5px;
  font-weight: bold;
  color: #7B8187;
}

.urgent-reading-points{
  color: rgb(245, 77, 77);
}

.reading-progress{
  ion-progress-bar{
    --progress-background: #777C85;
    --background: #CDCED2;
  }
}

.urgent-reading-progress{
  --progress-background: rgb(255, 79, 56) !important;
  --background: rgb(255, 180, 175) !important;
}

.reading-status-text, .reading-is-locked{
  --ion-grid-column-padding: 0px;
}

.reading-padlock{
  font-size: 30px;
  color: rgb(182, 182, 182);
}

.rmmargin{
  margin-top: 0px !important;
}
.buscador{
  padding: 8px 20px;
  font-family: 'Poppins', sans-serif;
    font-size: 12px;
    //border: 2px #efefef solid;
    
}

ion-searchbar{        
  .searchbar-input-container{            
      .searchbar-input{
        padding: 8px 20px;
        font-family: 'Poppins', sans-serif;
        font-size: 12px !important; 
        border: 2px rgb(218, 218, 218) solid !important;
        border-radius: 20px !important;
      }
  }
}

.searchbar-input{
  border: 2px rgb(218, 218, 218) solid !important;
        border-radius: 20px !important;
}

.md,
.ios,
.wp {
  .alert-danger {
    background-color: #F35E5D !important;
    background: #F35E5D  !important;
    color: red !important;
    $alert-md-background-color: #F35E5D;
    $alert-ios-background: #F35E5D;
    white-space: pre-wrap;
}}
