<ion-content>

  <ion-grid class="main-grid">
    <ion-row class="app-name">
      <ion-col>
        <ion-text color="primary">
          <span>Playtura</span>
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row class="app-moto">
      <ion-col>
        <ion-text>
          <span>Haz tus lecturas divertidas</span>
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row class="description">
      <ion-col>
        <ion-text>
          <span>Motivate con tus lecturas académicas jugando y procrastinando</span>
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row class="ahead">
      <ion-col>
        <ion-button size="default" color="secondary" (click)="ahead()">Adelante</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>