.modal-content{
    --font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 100%;
    padding: 0px 25px 0px 25px;

    .title{
        font-family: 'Poppins', sans-serif;
        color: #FFCB32;
        line-height: 0.9;
        font-size: 18px;
    }
    .modal-img{
        font-family: 'Poppins', sans-serif;
        padding: 10px;
        max-width: 100px;
        max-height: 100px;
    }
    .modal-desc{
        font-family: 'Poppins', sans-serif;
        font-size: 13px;
        color: #31373D;
        line-height: 0.9;
    }
    .button-back, .button-answer{
        font-family: 'Poppins', sans-serif;
        font-size: 13px;
        font-weight: bold;
        text-transform: capitalize;
    }
    .answer-row{
        margin: 10px 0px;
    }
    .answer-option{
        padding: 7px;
        font-size: 12px;
        color: #31373D;
        text-align: left;
    }
    .progress-reading{
        --ion-grid-column-padding: 0px;

        --padding: 0;
        --margin-bottom: 10px;
        ion-progress-bar{
            --background: #CBCFD4;
            --progress-background: #F2C94C;
        }
    }
    .buttons{
        margin-top: 10px;
        --ion-grid-column-padding: 0px;

    }
}

.answer-selected{
    font-family: 'Poppins', sans-serif;
    border: 2px solid #087CFB !important;
    color: #ffffff !important;
    background: rgb(163, 206, 255);
    border-radius: 10px;
    font-weight: bold;
    
}

.not-answer-selected{
    font-family: 'Poppins', sans-serif;
    border: 2px rgb(218, 218, 218) solid;
    border-radius: 10px;
}