
$font-stack: 'Poppins', sans-serif;

.user-info-grid{
    --font-family: 'Poppins', sans-serif;

    .avatar-col{
        font-family: 'Poppins', sans-serif;
        width: 50px !important;
        max-width: 75px !important;
        min-width: 75px !important;
    }
    .university-row{
        font-family: 'Poppins', sans-serif;
        color: #1373DB;
        padding-top: 5px;
        font-weight: bold;
        font-size: 13px;
        line-height: 0.8;
    }
    .name-row{
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
        font-size: 17px;
        color: #424244;
    }
    .counter-row{
        font-family: 'Poppins', sans-serif;
        color: #757575;
        font-size: 12px;
    }
}

.main-segment{
    font-family: 'Poppins', sans-serif;
    ion-segment-button{
        font-size: 12px !important;
        font-weight: bold;
        --margin-top: 10px;
        --padding-bottom: 0px;
        ion-icon{
            font-size: 17px !important;
        }
        ion-label{
            margin-top: 0px;
            margin-bottom: 0px;
        }
    }
}

    .statistics-seg1-grid{
        font-family: 'Poppins', sans-serif;
        padding: 10px 10px 25px 10px;
        border-bottom: solid 0.1px #C4C4C4;
    
        .stats-header-row{
            font-weight: bold;
            font-size: 15px;
            line-height: 0.7;
            ion-col{
                padding-bottom: 0px !important;
            }

        }
        .stats-value-row{
            font-family: 'Poppins', sans-serif;
            font-weight: bold;
            font-size: 30px;
            color: #0ec254;
            ion-col{
                padding-top: 0px !important;
            }
        }
        .stats-progress{
            font-family: 'Poppins', sans-serif;
            margin-top: 5px;
            .level{
                width: 55px !important;
                max-width: 55px !important;
                min-width: 55px !important;
                color: #0ec254;
                font-size: 13px;
                font-weight: bold;
            }
        }
    .stats-points{
        font-family: 'Poppins', sans-serif;
        margin-left: 5px;
        color: #9C9DAC;
        font-size: 12px;
        font-weight: bold;
    }
}


.statistics-pager-grid{
    margin-top: 15px;
    --font-family: 'Poppins', sans-serif;
    .stats-course{
        font-family: 'Poppins', sans-serif;
        color: #909295;
        font-size: 11px;
        padding: 0px !important;
    }
    .stats-reading-name{
        font-family: 'Poppins', sans-serif;
        font-size: 14px;
        font-weight: bold;
        padding: 0px !important;
    }
}

.stats-charts{
    font-family: 'Poppins', sans-serif;
    margin-top: 10px;
    border-radius: 5px; 

    .charts-title{
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
        font-size: 14px;
    }
    .charts-subtitle{
        font-family: 'Poppins', sans-serif;
        color: #6F7276;
        font-size: 13px;
    }
    .charts-read-pages{
        font-family: 'Poppins', sans-serif;
        margin-top: 10px;
    }
}

.ranking-top-grid{
    font-family: 'Poppins', sans-serif;
    .positions-table{
        font-size: 14px;
        font-weight: bold;
    }
    .ranking-header-list{
        width: 100%;
        font-size: 12px;
        color: #C7C7CE;
    }
    .user-stats-item{
        --padding-start: 0px;
        color: #32383F;
    }
    .ranking-pts, .ranking-pages{
        font-size: 11px; 
    }
    .ranking-user{
        text-transform: capitalize;
        font-size: 11px;
    }
    .ranking-position{
        font-weight: bold;
    }
}


.first-place{
    --color: #FFCB32;
    --background: #FFCB32;
    font-weight: bold !important;
    .ranking-user{
        font-size: 15px !important;
    }
    .ranking-pts, .ranking-pages{
        font-size: 14px; 
    }
}

.second-place{
    --color: #FDE8A1;
    --background: #FDE8A1;
    font-weight: bold !important;
    .ranking-user{
        font-size: 14px !important;
    }
    .ranking-pts, .ranking-pages{
        font-size: 13px; 
    }
}

.third-place{
    --color: #FCF5DA;
    --background: #FCF5DA;
    font-weight: bold !important;
    .ranking-user{
        font-size: 13px !important;
    }
    .ranking-pts, .ranking-pages{
        font-size: 12px; 
    }
}

.misiones{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    margin-left: 15px;
}

.stats-results-title{
    font-family: 'Poppins', sans-serif;
    color: #067CFB;
    font-weight: bold;
    font-size: 16px;
}

.stats-results-info{
    font-family: 'Poppins', sans-serif;
    color: #42474D;
    font-size: 14px;
}

.stats-results{
    .results-qa-grid{
        margin: 10px 0px;
    }
    .results-question-name{
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
        font-size: 13px;
        color: #4A4F56;
    }
    .answer-option{
        padding: 7px;
        font-size: 12px;
        color: #6B7075;
        border: 1px solid #828589;
        border-radius: 5px;
        margin: 2.3px 8px;
    }
    .answer-option-points{
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
        color: #88E15D;
        font-size: 18px;
    }
}

.correct-answer{
    background-color: #88E15D;
    color: white !important;
    font-weight: bold;
    border: 1px solid #88E15D !important;
}

.incorrect-answer{
    background-color: #FBE4E2;
    border: 2px solid #F4A9A5 !important;
    font-weight: bold;
}

.results-col{
    padding: 0px 5px !important;
}

.results-span{
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    color: #31373D;
    line-height: 1;
}

.results-total-span{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 14px;
}