.user-info-grid{
    .avatar-col{
        width: 50px !important;
        max-width: 75px !important;
        min-width: 75px !important;
    }
    .university-row{
        color: #1373DB;
        font-weight: bold;
        font-size: 13px;
    }
    .name-row{
        font-weight: bold;
        font-size: 17px;
        color: #424244;
    }
    .counter-row{
        color: #424244;
        font-size: 12px;
    }
}

.main-segment{
    ion-segment-button{
        font-size: 9px !important;
        --margin-top: 10px;
        --padding-bottom: 0px;
        ion-icon{
            font-size: 13px !important;
        }
        ion-label{
            margin-top: 0px;
            margin-bottom: 0px;
        }
    }
}

.statistics-seg1-grid{
    padding: 0px 10px 20px 10px;
    border-bottom: solid 0.1px #C4C4C4;
    .stats-header-row{
        font-weight: bold;
        font-size: 13px;
        ion-col{
            padding-bottom: 0px !important;
        }
    }
    .stats-value-row{
        font-weight: bold;
        font-size: 25px;
        color: #097CF8;
        ion-col{
            padding-top: 0px !important;
        }
    }
    .stats-progress{
        margin-top: 8px;
        .level{
            width: 65px !important;
            max-width: 65px !important;
            min-width: 65px !important;
            color: #CED6FC;
            font-size: 11px;
        }
    }
    .stats-points{
        margin-left: 5px;
        color: #9C9DAC;
        font-size: 11px;
        font-weight: bold;
    }
}


.statistics-pager-grid{
    margin-top: 15px;
    .stats-course{
        color: #909295;
        font-size: 11px;
        padding: 0px !important;
    }
    .stats-reading-name{
        font-size: 14px;
        font-weight: bold;
        padding: 0px !important;
    }
}

.stats-charts{
    margin-top: 10px;
    .charts-title{
        font-weight: bold;
        font-size: 14px;
    }
    .charts-subtitle{
        color: #6F7276;
        font-size: 13px;
    }
    .charts-read-pages{
        margin-top: 10px;
    }
}

.ranking-top-grid{
    .positions-table{
        font-size: 14px;
        font-weight: bold;
    }
    .ranking-header-list{
        width: 100%;
        font-size: 12px;
        color: #C7C7CE;
    }
    .user-stats-item{
        --padding-start: 0px;
        color: #32383F;
    }
    .ranking-pts, .ranking-pages{
        font-size: 11px; 
    }
    .ranking-user{
        font-size: 11px;
    }
    .ranking-position{
        font-weight: bold;
    }
}


.first-place{
    --color: #FFCB32;
    --background: #FFCB32;
    font-weight: bold !important;
    .ranking-user{
        font-size: 15px !important;
    }
    .ranking-pts, .ranking-pages{
        font-size: 14px; 
    }
}

.second-place{
    --color: #FDE8A1;
    --background: #FDE8A1;
    font-weight: bold !important;
    .ranking-user{
        font-size: 14px !important;
    }
    .ranking-pts, .ranking-pages{
        font-size: 13px; 
    }
}

.third-place{
    --color: #FCF5DA;
    --background: #FCF5DA;
    font-weight: bold !important;
    .ranking-user{
        font-size: 13px !important;
    }
    .ranking-pts, .ranking-pages{
        font-size: 12px; 
    }
}


