<ion-content padding="20px">

  <ion-grid class="user-info-grid">
    <ion-row class="ion-align-items-center">
      <ion-col class="avatar-col">
        <ion-avatar>
          <img src="assets/img/avatar.png">
        </ion-avatar>
      </ion-col>
      <ion-col>
        <ion-row class="university-row">
          {{ getUniversity() | uppercase }}
        </ion-row>
        <ion-row class="name-row">
          {{ ( user['name'] || 'Nombre' ) | uppercase }}
        </ion-row>
        <ion-row class="counter-row">
          <span style="margin-right:12px;"><strong>0</strong> apuntes</span>
          <span><strong>0</strong> comentarios</span>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-segment (ionChange)="segmentChanged($event)" class="main-segment">
    <ion-segment-button checked layout="icon-start" value="statistics">
      <ion-icon name="stats"></ion-icon>
      <ion-label>Estadísticas</ion-label>
    </ion-segment-button>
    <ion-segment-button layout="icon-start" value="ranking">
      <ion-icon name="contacts"></ion-icon>
      <ion-label>Grupo</ion-label>
    </ion-segment-button>
    <ion-segment-button layout="icon-start" value="missions">
      <ion-icon name="medal"></ion-icon>
      <ion-label>Misiones</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="segmentSelected">
    <div *ngSwitchCase="'statistics'">
      <ion-slides pager="false" [options]="slideOpts" (ionSlideWillChange)="willChangeSlide($event)" #theSlider>
        <ion-slide *ngFor="let reading of readingsArray">
          <ion-grid>
            <!-- PAGER -->
            <ion-row>
              <ion-grid class="statistics-pager-grid">
                <ion-row>
                  <ion-col class="ion-text-end ion-align-self-center" (click)="back()">
                    <ion-icon name="arrow-dropleft"></ion-icon>
                  </ion-col>
                  <ion-col class="ion-text-center" size="6">
                    <ion-row>
                      <ion-col class="stats-course">
                        {{ reading.course }}
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col class="stats-reading-name">
                        {{ reading.name }}
                      </ion-col>
                    </ion-row>
                  </ion-col>
                  <ion-col class="ion-text-start ion-align-self-center" (click)="next()">
                    <ion-icon name="arrow-dropright"></ion-icon>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-row>
            <!-- SEGMENTO 1 -->
            <ion-row class="statistics-seg1-grid">
              <ion-grid>
                <ion-row class="stats-header-row">
                  <ion-col>
                    <span>Páginas leídas</span>
                  </ion-col>
                  <ion-col>
                    <span>Puntos</span>
                  </ion-col>
                </ion-row>
                <ion-row class="stats-value-row">
                  <ion-col>
                    <span>{{ getStatusPages() }}</span>
                  </ion-col>
                  <ion-col>
                    <span>{{ getStatusPoints() }}</span>
                  </ion-col>
                </ion-row>
                <ion-row class="stats-progress ion-align-items-center">
                  <ion-col class="ion-align-items-center">
                    <ion-progress-bar [value]="readingLevelProgress" style="height: 8px;"></ion-progress-bar>
                  </ion-col>
                  <ion-col class="level">
                    <span>{{ 'NIVEL ' + ( readingLevel + 1 ) }}</span>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <span class="stats-points">
                    {{ getStatusPoints() }}/{{ levels[readingLevel] }} Puntos
                  </span>
                </ion-row>
              </ion-grid>
            </ion-row>
            <!-- CHARTS -->
            <ion-row class="stats-charts">
              <ion-grid>
                <ion-row class="charts-title">
                  Reporte semanal
                </ion-row>
                <ion-row class="charts-subtitle">
                  Páginas leídas
                </ion-row>
                <ion-row class="charts-read-pages">
                  <div style="display: block">
                    <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
                      [legend]="barChartLegend" [chartType]="barChartType">
                    </canvas>
                  </div>
                </ion-row>
                <ion-row class="charts-subtitle" style="margin-top: 20px">
                  Puntos obtenidos
                </ion-row>
                <ion-row class="charts-read-pages">
                  <div style="display: block">
                    <canvas baseChart [datasets]="barChartPointsData" [labels]="barChartLabels" [options]="barChartOptions"
                      [legend]="barChartLegend" [chartType]="barChartType">
                    </canvas>
                  </div>
                </ion-row>
              </ion-grid>
            </ion-row>
          </ion-grid>
        </ion-slide>
      </ion-slides>
    </div>
    <div *ngSwitchCase="'ranking'">
      <ion-slides pager="false" [options]="slideOptsTop" (ionSlideWillChange)="willChangeSlideTop($event)"
        #theSliderTop>
        <ion-slide *ngFor="let reading of readingsArray">
          <ion-grid>
            <!-- PAGER -->
            <ion-row>
              <ion-grid class="statistics-pager-grid">
                <ion-row>
                  <ion-col class="ion-text-end ion-align-self-center" (click)="backRanking()">
                    <ion-icon name="arrow-dropleft"></ion-icon>
                  </ion-col>
                  <ion-col class="ion-text-center" size="6">
                    <ion-row>
                      <ion-col class="stats-course">
                        {{ reading.course }}
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col class="stats-reading-name">
                        {{ reading.name }}
                      </ion-col>
                    </ion-row>
                  </ion-col>
                  <ion-col class="ion-text-start ion-align-self-center" (click)="nextRanking()">
                    <ion-icon name="arrow-dropright"></ion-icon>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-row>
            <!-- TOP -->
            <ion-row style="margin-top: 10px;">
              <ion-grid class="ranking-top-grid">
                <ion-row class="positions-table">
                  <span>Tabla de posiciones</span>
                </ion-row>
                <ion-row class="ranking-header-list">
                  <ion-col size="8" class="ion-text-left">
                    POSICIÓN
                  </ion-col>
                  <ion-col size="2" class="ion-text-center">
                    PTS
                  </ion-col>
                  <ion-col size="2" class="ion-text-center">
                    PÁG
                  </ion-col>
                </ion-row>
                <ion-row class="stats-progress ion-align-items-center">
                  <ion-list style="width:100%">
                    <ion-item *ngFor="let state of readingsStatesTop; let i = index" class="user-stats-item"
                      [class.first-place]="i==0" [class.second-place]="i==1" [class.third-place]="i==2">
                      <ion-row style="width:100%">
                        <ion-col size="2" class="ranking-position ion-text-center">
                          <span>
                            {{ i + 1 }}
                          </span>
                        </ion-col>
                        <ion-col size="6" class="ranking-user">
                          {{ state.userName }}
                        </ion-col>
                        <ion-col size="2" class="ranking-pts ion-text-center">
                          +{{ state.pointsEarned }}
                        </ion-col>
                        <ion-col size="2" class="ranking-pages ion-text-center">
                          {{ state.page }}
                        </ion-col>
                      </ion-row>
                    </ion-item>
                  </ion-list>
                </ion-row>
              </ion-grid>
            </ion-row>
          </ion-grid>
        </ion-slide>
      </ion-slides>
    </div>
    <div *ngSwitchCase="'missions'">

      <!-- List of Text Items -->
<ion-list>
    <ion-item>
        <ion-icon name="stats"></ion-icon>
        <ion-label>Msion 1</ion-label>
        <span>Descripción</span>
    </ion-item>
    <ion-item>
      <ion-label>Mega Man X</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>The Legend of Zelda</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Pac-Man</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Super Mario World</ion-label>
    </ion-item>
  </ion-list>

    </div>
  </div>

</ion-content>