// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';


.my-custom-modal-css .modal-wrapper {
    max-width: 400px;
    width: 80%;
    min-height: 350px;
    height: auto;
    top: calc(50vh - 175px);
    position: absolute; 
    display: block;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0,0,0, 0.15);
}


.my-custom-modal-question-css .modal-wrapper {
    max-width: 400px;
    width: 80%;
    min-height: 500px;
    height: auto;
    top: calc(50vh - 250px);
    position: absolute; 
    display: block;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0,0,0, 0.15);

    .ion-button{
        background: rgb(218, 218, 218);
        border-radius: 10px;
    }
    
}

.my-custom-modal-finish-css .modal-wrapper {
    max-width: 400px;
    width: 80%;
    min-height: 450px;
    height: auto;
    top: calc(50vh - 225px);
    position: absolute; 
    display: block;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0,0,0, 0.15);
}


ion-searchbar{        
    .searchbar-input-container{            
        .searchbar-input{
          padding: 5px 45px;
          margin: 5px 0px 5px 0px;
          font-family: 'Poppins', sans-serif;
          font-size: 13px; 
          border: 2px rgb(218, 218, 218) solid;
          border-radius: 10px;
          box-shadow: 0 0 0 0;
        }

        ion-icon{
            padding: 5px 0px;
            color: dimgrey;
        }
    }

    .searchbar-clear-button.sc-ion-searchbar-md{
        top: -5px;
    }
  }
  