.modal-content{
    --font-family: 'Poppins', sans-serif;
    width: 100%;
    height: calc(100% - 60px);
    padding: 10px;
    padding-top: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0,0,0, 0.15);
    line-height: 01.1;

    .title, .subtitle{
        font-family: 'Poppins', sans-serif;
        color: #88E15D;
        font-weight: bold;
    }
    .title{
        font-size: 30px;
        line-height: 0.8;
        
    }
    .subtitle{
        font-size: 17px;
    }

    .modal-img{
        font-family: 'Poppins', sans-serif;
        padding: 10px;
        max-width: 220px;
        max-height: 220px;
    }

    .remove-padding{
        --ion-grid-column-padding: 0px;
    }

    .incorrect{
        color: #F06B65;
    }
}

.continue-button{
    height: 50px !important;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;

}
