<ion-content>
  <ion-grid class="modal-content ion-text-center">
    <ion-row>
      <ion-col class="remove-padding">
        <span class="title" [class.incorrect]="!correct"><Strong>{{ title }}</Strong></span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="remove-padding">
        <span class="subtitle" [class.incorrect]="!correct">{{ subtitle }}</span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <img class="modal-img" [src]="img">
      </ion-col>

      <ion-button class="continue-button" expand="full" [color]="buttonColor" (click)="close()">Continuar</ion-button>
  
    </ion-row>

    </ion-grid>
</ion-content>
