ion-content{
    --padding-top: 20px;
    --padding-start: 20px;
    --padding-end: 20px;
    --padding-bottom: 20px;
}

.contenido{
    padding-top: 18;
    padding-left: 18;
    padding-right: 18;
    padding-bottom: 18;
}

$font-stack: 'Poppins', sans-serif;

.contenido{
    font-family: 'Poppins', sans-serif;
}

.tarjetaEvento{
        border: 2px rgb(218, 218, 218) solid;
        margin: 18px 20px;
        box-shadow: 0px 0px 0px white;
        border-radius: 10px;

            .textNuevo{
                font-family: 'Poppins', sans-serif;
                font-size: 14px;
                font-weight: bold;
            }

            .textTitle{
                font-family: 'Poppins', sans-serif;
                font-size: 13px;
            }

            .textDescription{
                font-family: 'Poppins', sans-serif;
                font-size: 13px;
            }

            .textDateStart{
                font-family: 'Poppins', sans-serif;
                font-size: 13px;
            }

            .textDateEnd{
                font-family: 'Poppins', sans-serif;
                font-size: 13px;
                padding: 0px;
            }

            .textDay{
                font-family: 'Poppins', sans-serif;
                font-size: 13px;
                padding: 0px;
            }
}

.hoy{
    align-content: center;
    text-align: center;
}

.calendario{
    font-family: 'Poppins', sans-serif;
}