ion-content{
    --padding-top: 5px;
    --padding-start: 20px;
    --padding-end: 20px;
    --padding-bottom: 10px;
    --background: #F5F5F5;
    --font-family: 'Poppins', sans-serif;
}

.toolbar{
    --background: white;
  }

ion-content{
    
    padding: 10px 20px;
}

.tarjetaEvento{
        border: 2px rgb(218, 218, 218) solid;
        margin: 10px 10px;
        box-shadow: 0px 0px 0px white;
        border-radius: 10px;

            .textNuevo{
                font-family: 'Poppins', sans-serif;
                font-size: 14px;
                font-weight: bold;
            }

            .textTitle{
                font-family: 'Poppins', sans-serif;
                font-size: 13px;
            }

            .textDescription{
                font-family: 'Poppins', sans-serif;
                font-size: 13px;
            }

            .textDateStart{
                font-family: 'Poppins', sans-serif;
                font-size: 13px;
            }

            .textDateEnd{
                font-family: 'Poppins', sans-serif;
                font-size: 13px;
                padding: 0px;
            }

            .textDay{
                font-family: 'Poppins', sans-serif;
                font-size: 13px;
                padding: 0px;
            }
}

.botones{
    font-family: 'Poppins', sans-serif;
}

.hoy{
    align-content: center;
    text-align: center;
}

.calendario{
    font-family: 'Poppins', sans-serif;
}

.calendarioContenido{
    padding: 10px 20px;
}