.barraArriba{
    padding: 10px 0px;
}

.modal-title{
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    .subtitle{
        font-family: 'Poppins', sans-serif;
        font-size: 76%;
        margin: 0;
        font-weight: normal;
    }
}