$font-stack: 'Poppins', sans-serif;

.barraArriba{
    padding: 10px 0px;
}

.modal-title{
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    .subtitle{
        font-family: 'Poppins', sans-serif;
        font-size: 76%;
        margin: 0;
        font-weight: normal;
    }
}

.reading-progress{
    height: 5px !important;
    --background: #CBCFD4;
    --progress-background: #087CFB;
}

.respuestas{ 
    font-family: 'Poppins', sans-serif;
    white-space: pre-wrap;
}

.md,
.ios,
.wp {
  .alert-danger {
    background-color: #F35E5D !important;
    background: #F35E5D  !important;
    color: red !important;
    $alert-md-background-color: #F35E5D;
    $alert-ios-background: #F35E5D;
    white-space: pre-wrap;
}}
