<ion-header>
  <ion-toolbar class="toolbar">
    <!-- Buscador -->
    <ion-searchbar class="searcher" animated
      placeholder="Buscar curso" [(ngModel)]="searchKey" (ionChange)="searchKeyChange($event)">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>



<ion-content class="content">

  <ion-grid >
  
    <ion-row class="grilla">
      
      <ion-col size="12">
        <ion-icon name="arrow-down" slot="end"></ion-icon>
      <span>Nombre<br></span>
    </ion-col>
      

      <ion-col size="6">

        <ion-card class="card-reading">

          <ion-item class="reading-name">
            <span>Comunicación oral y escrita I<br></span>
            <ion-icon name="more" slot="end"></ion-icon>
          </ion-item>
        
          <ion-card-content class="reading-course">
            Milton Bentancor<br>
            15 lecturas<br>
            4 Créditos
          </ion-card-content>
        </ion-card>

      </ion-col>

      <ion-col size="6" class="ancho">
        <ion-card class="card-reading">
          <ion-item class="reading-name">
            <span>Algebra y funciones</span>
            <ion-icon name="more" slot="end"></ion-icon> 
          </ion-item>
        
          <ion-card-content class="reading-course">
            Carlos Alvarez<br>
          19 lecturas<br>
          3 Créditos
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="6">
        <ion-card class="card-reading">
          <ion-item class="reading-name">
            <span>Lógica y argumentación</span>
            <ion-icon name="more" slot="end"></ion-icon>
          </ion-item>
      
          <ion-card-content class="reading-course">
            Javier Aguirre<br>
            24 lecturas<br>
            3 Créditos
          </ion-card-content>
        </ion-card>
      </ion-col>

    </ion-row>
</ion-grid>

</ion-content>